@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, black 16.15%, rgb(94, 92, 92) 85.16%)
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right; 
}

.conteudo {
    margin-bottom: 10px;
    border-top: 0.1px solid rgba(109, 102, 102, 0.432);

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space;
    margin-left: 50%;
    margin-top: 10px;
}

.conteudo-principal-titulo {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 200;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.conteudo-principal-subtitulo {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 200;
    font-size: 20px;
    margin-top: -5%;
 
}

.cadastro {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 1;
    font-size: 20px;
    margin-left: 20%;
    
}

.cadastro1 {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 1;
    font-size: 15px;
    margin-left: 20%;

}

fieldset {
    border: none;
}
.check {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: 1px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin: 400px;
    margin-top: 0.2em;

}

label {
    margin-top: 2%;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 5px;
}

.botao {
    font-size: 1em;
    background: fixed ;
    border-radius: 5px;
    margin-top: -20px;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-color: rgb(158, 162, 165);
}

input:focus{
    background: rgb(199, 194, 194);
}

.botao:hover {
    background: #fcfbfb;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0,0.2);
    text-shadow: none;
}

footer {
    margin-bottom: 8.1px;
    margin-top: -325px;
    border-top: 0.1px solid rgba(255, 255, 255, 0.055);
}

.icon {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    justify-content:center;
    gap: 30px;
    margin-top: 15px;
    border-bottom-color: aliceblue;

}

.link {
    color: rgb(0, 0, 0);
}

@media  screen and (max-width:480px) {
    header {
        display: none;
    }
    
    body{
        width: 100%;
    }
}
